<!DOCTYPE html>
<html lang="en" action="/" Smethod="post">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/news.css" />
    <title>Document</title>
   
    <div class="head">
        <header>
        <h1>REMEMBER YOURSELF: HAPPY THOUGHTS</h1>
        <div class=align>
        <nav class="links">
            <a href="/">HOME</a>
            <a href="/about">ABOUT US & YOU </a>
            <a href="/contactus">CONTACT US</a>
        </nav>
        </div>
    </header>
</head>
<div class="bod">